@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    color: #3f3f3f;
}
.navbar-inverse{
    background-color: #B7FF05;
    border: 0;  
}
.navbar-brand{
    color: black;
    text-decoration: none;
    margin-left: 115px;
    width: 100%;
    max-width: 120px;
    position: relative;
}

#logo{
    width: 100%;
    max-width: 150px;
    margin-left: 100px;
    position: absolute;
    top: 38px;
    margin-bottom: 30px;
}
h1{
    font-weight: 400;
    font-size: 54px;
    
}
a{
    text-decoration: underline;
    color: rgb(153, 115, 214);
    font-weight: 600;
}
.col-md-7{ 
    margin-left: 50px;
    margin-top: 100px;
}
h6{
    font-size: 21px;
}
p{
    font-size: 17.1px;
    font-weight: 300;
    color: #939393;
    
}
.img-responive{
    z-index: 1;
    position: relative;
    top: 0;
    right: 20px;
}
h2{
    margin-top: 60px;
    font-size: 33px;
    border-bottom: 4px solid rgba(214,242,239, .3);
    padding-bottom: 10px;
}
h4{
    font-size: 21px;
    color: #939393;
}